<div class="container-sm pt-5" style="width: 700px">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center my-3 text-primary">Add New Product</h1>
            </div>
            <div class="card-body">
                <form action="/admin/add" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="sku"  class="text-primary fw-bold form-label">SKU</label>
                        <input type="text" class="form-control" id="sku" name="sku" required>
                        <div class="invalid-feedback">Please provide a valid SKU.</div>
                    </div>

                    <div class="mb-3">
                        <label for="name"  class="text-primary fw-bold form-label">Product Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                        <div class="invalid-feedback">Please provide product name.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description"  class="text-primary fw-bold form-label">Product Description</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                        <div class="invalid-feedback">Please provide product description</div>
                    </div>

                    <div class="mb-3">
                        <label for="price"  class="text-primary fw-bold form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" min="1" required>
                        <div class="invalid-feedback">Please provide product price.</div>
                    </div>

                    <div class="mb-3">
                        <label for="image"  class="text-primary fw-bold form-label">Image</label>
                        <input type="url" class="form-control" id="image" name="image" required>
                    </div>

                    <div class="mb-3">
                        <label for="category_id"  class="text-primary fw-bold form-label">Category</label>
                        <select class="form-select" name="category_id" id="category" required>
                            {{#each categories}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
