<div class="d-flex justify-content-center mt-2">
    <img src="/images/thankyou.jpg" alt="Thank you" class="img-fluid" style="width: 500px;">
</div>
<div class="d-flex justify-content-center">
<h1 class="text-primary">Thank you for your order!</h1>
</div>